bertopic==0.17.3 # BERTopic implementation.
gensim==4.3.3 # Doc2vec implementation. 4.3.3 and above is required due to outdated scipy.

spacy==3.8.* # Preprocessing

fastapi[standard]==0.115.* # API Server
pydantic # Validation
uvicorn

numpy<2.0
pandas==2.2.* # Process dataframes
fastparquet # Load parquet
orjson # Faster JSON for plotly
openpyxl

statsmodels==0.14.*

optuna==4.3.*

apscheduler==3.11.*
filelock==3.18.*

watchdog==6.0.*

-f https://download.pytorch.org/whl/torch_stable.html
torch==2.2.2+cpu; sys.platform == 'win32' or sys.platform == 'linux'
torch==2.2.2; sys.platform == 'darwin'
